@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f1f1f1;
  --background-high-1: #f8f8f8;
  --background-high-2: #fff;
  --background-low-1: #e1e1e1;
  --background-low-2: #d1d1d1;
  --foreground: #515151;
  --foreground-high-1: #202020;
  --foreground-high-2: #000;
  --foreground-low-1: #717171;
  --foreground-low-2: #aaa;
  --backdrop: #0000003a;
  --warn: #fbbf24;
  --danger: #ef4444;
  --success: #22c55e;
  --info: #0ea5e9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0, 0, 0);
    --background-high-1: rgb(0, 0, 0);
    --background-high-2: rgb(0, 0, 0);
    --background-low-1: rgb(0, 0, 0);
    --background-low-2: rgb(0, 0, 0);
    --foreground: rgb(0, 0, 0);
    --foreground-high-1: rgb(0, 0, 0);
    --foreground-high-2: rgb(0, 0, 0);
    --foreground-low-1: rgb(0, 0, 0);
    --foreground-low-2: rgb(0, 0, 0);
    --warn: rgb(0, 0, 0);
    --danger: rgb(0, 0, 0);
    --success: rgb(0, 0, 0);
    --info: rgb(0, 0, 0);
  }
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

#root {
  top:10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  /* min-width: 100vw;
  min-height: 100vh; */
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
}

.w-05 {
  width: 0.125rem
    /* 2px */
  ;
}

.min-w-44{
  min-width: 11rem;
}

.fadeIn { animation: fadeIn 0.2s; }
.fadeOut { animation: fadeOut 0.2s; }
.slideFromTop { animation: slideFromTop 0.2s; }

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-2rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}

iframe {
  user-select: none; /* Standard syntax */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari and Chrome */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Override */
.border {
  border-width: 0.0625rem;
}
.border-l {
  border-left-width: 0.0625rem;
}
.border-r {
  border-right-width: 0.0625rem;
}

hr {
  border-top-width: 0.0625rem;
}

.scrollbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}